header {
  font-family: 'Kanit', sans-serif;
  font-size:37px;
}

.description{
  font-family: 'Kanit', sans-serif;
  font-size:33px;
  top:30px;
  position:relative;
  color:rgb(93, 92, 136);
  font-weight:60;
}

.main_title{
  font-family: 'Kanit', sans-serif;
  font-size: 96px;
  width:100%;
  text-align: center;
  position:relative;
  top:1px;
  color:rgb(93, 92, 136);
  font-weight:60;
}


body {
    background-color: aliceblue;
    color: rgb(34, 31, 63);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-image: url(https://preview.redd.it/cdfz5g8yfymz.png?width=960&crop=smart&auto=webp&s=dd7222784b684a046727237512a2221deb764def);
    

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label { display: inline-block; width: 210px; text-align: center; }


form {
    
    margin: 0 auto; 
    width: 100%;
    font-family: 'Kanit', sans-serif;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    display: table-cell;
    width: 30%;
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:10px;
    border:none;
    position:relative;
    right:50px;
  }

  input[type=signin]{
    display: table-cell;
    width: 30%;
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:10px;
    border:none;
    position:relative;
    right:10px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #6495ED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    font-family: 'Kanit', sans-serif;
    border: none;
    opacity:0px;
    position:relative;
    top:100px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    background-color:#286dec;
  }


.to_register {
  color:aliceblue;
}