body {
  width: 50%;
  margin: 100px auto;
  background-color: lightgray;
  font-family: 'Kanit', sans-serif;
  overflow: hidden;
}

.calendar-base {
  width: 900px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  z-index: -1;
  color: black;
}

.year {
  color: #E8E8E8;
  font-size: 30px;
  float: right;
  position: relative;
  right: 75px;
  top: 20px;
  font-weight: bold;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  right: 90px;
  top: 36px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  left: 20px;
  top: 36px;
}
.triangle-left:hover{
  border-right: 10px solid#2ECC71;
}
.triangle-right:hover{
  border-left: 10px solid#2ECC71;
}

.month-color {
  color: #6495ED;
}
.month-hover:hover{
  color:#6495ED !important;
}

/* for the line that says Jan Feb ...*/
.months {
  color: #AAAAAA;
  position: relative;
  left: 175px;
  top: 90px;
  word-spacing: 12px;
}

/* for the line under Jan Feb ...*/
.month-line {
  border-color: #E8E8E8;
  position: relative;
  top: 85px;
  width: 57%;
  left: 178px;
}

/* for the line that says SUN MON ...*/
.days-line {
  color: #9ecfff;
  position: relative;
  font-size: 18px;
  left: 177px;
  top: 80px;
  word-spacing: 38px;
  font-weight: 600;
}

.dates-row:before {
  clear: both;
  content: "";
  display: table;
}

/* for each day's button */
.day-button {
  color: #9ecfff;
  background-color: #ffffff;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 90px;
  left: 340px;
  z-index: 1;
  border: 1px solid #c5ced8;
  border-radius: 7px;
  float: left;
  height: 40px;
  margin-right: 13px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 63px;
}

.white {
  color: white;
}

.grey {
  color: #AAAAB1;
}

.calendar-left {
  width: 299px;
  height: 500px;
  border-radius: 20px 0px 0px 20px;
  background-color: #6495ED;
  position: relative;
  z-index: -1;
  bottom: 500px;
  color: white;
}

.hamburger {
  position: relative;
  top: 25px;
  left: 25px;
}

.burger-line:hover, .hamburger:hover{
  background-color:#6495ED !important;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 15%;
  margin-bottom: 3px;
} /* keep as way to access user info*/

.num-date {
  font-size: 150px;
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
}

.day {
  width: 50%;
  margin: 0px auto;
  font-size: 30px;
  position: relative;
  bottom: 60px;
}

.current-events {
  font-size: 15px;
  position: relative;
  margin-left: 10px;
  bottom: 70px;
  text-align: left;
}

.posts {
  text-decoration: underline dotted;
}
.posts:hover{
  color:#6495ED !important;
}

.create-event {
  font-size: 18px;
  position: relative;
  margin-top: 30px;
  margin-left: -5px;
}

.event-line {
  width: 90%;
}

.add-event {
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 50%;
  border: solid white 2px;
  position: relative;
  bottom: 42px;
  left: 240px;
}

.add {
  font-size: 25px;
  position: relative;
  left: 0px;
  bottom: 11px;
}

.add:hover, .create-event:hover, .add-event:hover{
  color:#6495ED !important;
  border-color: #6495ED !important;
}


 * {
  box-sizing: border-box;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #48d16a;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.popup-form {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #261da5;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(248, 39, 39);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
